@use '@/styles/utils/mixins'
@use '@/styles/utils/colors'

.container
    @include mixins.media()
        border-right: 1px solid colors.$border-color

.mobile-wrapper
    display: block

    @include mixins.media()
        display: none

.pc-wrapper
    display: none

    @include mixins.media()
        display: block

.menu-wrapper
    display: flex
    flex-direction: column
    gap: 0.5rem

.menu-header
    font-size: 1.25rem
