@use '@/styles/utils/mixins'
@use '@/styles/utils/colors'
    
.container
    display: flex
    flex-direction: column
    gap: 0.25rem

.textarea-label
    font-size: 1.25rem

.textarea
    background-color: white
    border: 1px solid colors.$border-color

    &--error
        background-color: white
        border: 1px solid colors.$error-color

.helper-text
    margin: 0 1rem

    &--error
        @extend .helper-text
        color: colors.$error-color

