@use "sass:color"
@use '@/styles/utils/mixins'
@use '@/styles/utils/colors'

.container
    height: 100%

.main-wrapper
    height: 100%

    @include mixins.media()
        display: flex

.content-wrapper
    @include mixins.media()
        flex: 1

.application-wrapper
    padding: 2rem

    @include mixins.media()
        padding: 2rem 3rem
