@use '@/styles/utils/mixins'
@use '@/styles/utils/colors'
    
.container
    display: flex
    flex-direction: column
    gap: 0.25rem

.label-wrapper
    display: flex
    justify-content: space-between

.input-label
    font-size: 1.25rem

.input-field

    & input
        background-color: white

    & p
        font-size: 0.9rem
